<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="warehouse.Properties.Settings.warehouseConnectionString"
            connectionString="Data Source=OLESZ\Olesz16;Initial Catalog=warehouse;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>