<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WarehouseElectric.Properties.Settings.ElectricWarehouseConnectionString"
            connectionString="Data Source=OLESZ;Initial Catalog=warehouse;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WarehouseElectric.Properties.Settings.warehouseConnectionString"
            connectionString="Data Source=OLESZ;Initial Catalog=warehouse;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>