<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WarehouseElectric.Properties.Settings.ElectricWarehouseConnectionString"
      connectionString="Data Source=FROMEK-PC\SERW;Initial Catalog=WarehouseElectric;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="WarehouseElectric.Properties.Settings.ElectricWarehouseConnectionString2"
      connectionString="Data Source=MSITKO;Initial Catalog=ElectricWarehouse;Persist Security Info=True;User ID=test"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>